body {
  font-size: 115%;
  line-height: 150%;
}

img[src*="tom.jpg"] {
  margin-top: 40px;
  border-radius: 50%;
  width: 150px;
  float: right;
  margin-left: 20px;
}

blockquote {
  color: rgba(0, 0, 0, .8);
}

h1 {
  margin: 0;
  margin-top: 20px;
}

h3 {
  margin-top: 20px !important;
  margin-bottom: 3px !important;
}

p {
  margin-top: 0;
}

h2 {
  margin-bottom: 30px !important;
}

li {
  margin-bottom: 12px;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 2cm 2cm;
    margin-bottom: 2.5cm;
  }

  @page {
    @bottom-center {
      content: counter(page);
      font-size: 9pt;
      color: #333;
    }
  }

  body {
    background-color: white;
    font-size: 90%;
    margin: 0;
  }

}